<h1>Acerca de la Aplicación</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laboriosam eius asperiores temporibus, cumque illo voluptate, unde debitis omnis eos placeat. Soluta quam maiores incidunt voluptatum, repudiandae accusantium recusandae eum.</p>